@import '../node_modules/mini.css/dist/mini-default.min.css';

form {
    min-width: 300px;
}

html,
body,
#root,
.container,
.center-page {
    height: 100%;
}

.center-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid #ddd;
    margin: 30px;
    padding: 30px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li:after {
    content: ' | ';
}

nav ul li:last-child:after {
    content: '';
}

.active {
    background-color: #b4e4ea;
    padding: 10px;
}
